	<%- include common/head %>
	<div class="content" id="mainContent">
		<!-- navigation -->
		<%- include common/navigation %>
		<div class="main-box">
			<div class="main-mask" id="mainMask"></div>
			<%- include common/header %>
			<div class="content-wrap" id="indexContent">
				<div class="cont-index" >
					<div class="drap-down-note" id="drapDownNote">下拉刷新</div>	
					<ul>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
	<script id="listItemTemp" type="text/html">
		{{each items}}
		<li>
			<a href="detail.html?id={{$value.id}}"><img src="{{root}}{{$value.image}}" alt="" class="img"></a>
			<div class="desc cf">
				<span class="fl omit desc-text">{{$value.intro}}</span><span class="fr price">{{$value.priceString}}</span>
			</div>
			<div class="cout">
				<h2>熊出没话题</h2>
				<address>
					<i class="dresscon iconfont icon-location2"></i>{{$value.activityPlace}}·{{$value.placeScale}}km·适合{{$value.ageString}}
				</address>
			</div>
		</li>
		{{/each}}
	</script>
	<%- include common/script %>
	<script src="./script/islider.js"></script>
	<script src="./script/modules/index.js"></script>
	</body>
</html>
