<header class="header">
    <a href="javascript:" class="back" id="backBtn"></a>
    <div class="shopping_cart" id="cartBtn">
        <a href="javascript:" class="btn_icon">
            <i>4</i>
        </a>
    </div>
</header>