
<header class="header" id="mainHeader">
    <a href="javascript:" class="menu-btn iconfont icon-iciccaidan" id="showMenuBtn"></a>
    <div class="title_bar" id="titleBar">
        <i class="di iconfont icon-location2"></i>
        <span class="di">离我最近</span>
    </div>
</header>
