
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-phone:before { content: "\e618"; }
.icon-clock:before { content: "\e600"; }
.icon-address_people:before { content: "\e60f"; }
.icon-peopleadd:before { content: "\e610"; }
.icon-lock:before { content: "\e613"; }
.icon-mail:before { content: "\e601"; }
.icon-find:before { content: "\e614"; }
.icon-list:before { content: "\e602"; }
.icon-124smileface:before { content: "\e61e"; }
.icon-key:before { content: "\e619"; }
.icon-lock1:before { content: "\e61a"; }
.icon-ue62ddel:before { content: "\e611"; }
.icon-mail1:before { content: "\e61b"; }
.icon-iconyuan:before { content: "\e612"; }
.icon-right:before { content: "\e615"; }
.icon-add:before { content: "\e61f"; }
.icon-close:before { content: "\e616"; }
.icon-close1:before { content: "\e61c"; }
.icon-people:before { content: "\e617"; }
.icon-box:before { content: "\e603"; }
.icon-right1:before { content: "\e61d"; }
.icon-home:before { content: "\e604"; }
.icon-housekeeping:before { content: "\e605"; }
.icon-map:before { content: "\e606"; }
.icon-motor:before { content: "\e607"; }
.icon-shopping:before { content: "\e608"; }
.icon-store:before { content: "\e609"; }
.icon-apple:before { content: "\e60a"; }
.icon-setting:before { content: "\e60b"; }
.icon-mark:before { content: "\e60c"; }
.icon-information:before { content: "\e60d"; }
.icon-close2:before { content: "\e60e"; }
