			</div>
		</div>
        <div class="box_mask" id="boxMask"></div>
        <footer class="main_footer">
        	<p><a class="d">下载客户端</a></p>
        	<p class="c">©2003-2015 xiaoxiao 川ICP备11027646号</p>
        </footer>
	</div>
    