<div class="loadingBox" id="loadingBox" style="/* display: none; */"><div class="cloud"><i class="loadingImg"></i><span class="msg">加载中...</span></div></div>
<header class="header">
    <a href="javascript:" class="menu-btn" id="showMenuBtn"></a>
    <div class="title_bar">
        <i class="di"></i>
        <span class="di">离我最近</span>
    </div>
</header>
