<div class="navigation" id="mainNav">
	<form id="searchForm">
		<fieldset>
			<input class="text" type="text" value="" name="keyword" placeholder="搜索活动">
			<button class="submit iconfont icon-sousuo" type="submit" value=""></button>
		</fieldset>	
	</form>
	<ul id="mainNavigation">
		<li class="current"><a href="home.html#condition=all"><i class="di ibn iconfont icon-location2"></i><span class="di">离我最近</span><i class="di iarr iconfont icon-youjiantou"></i></a></li>
		<li class=""><a href="home.html#condition=all"><i class="di ibn iconfont icon-jiaxingshoucang"></i><span class="di">免费活动</span><i class="di iarr iconfont icon-youjiantou"></i></a></li>
		<li class=""><a href="home.html#condition=all"><i class="di ibn iconfont icon-huwaixian"></i><span class="di">户外活动</span><i class="di iarr iconfont icon-youjiantou"></i></a></li>
		<li class=""><a href="home.html#condition=all"><i class="di ibn iconfont icon-fangzi"></i><span class="di">室内活动</span><i class="di iarr iconfont icon-youjiantou"></i></a></li>
		<li class=""><a href="home.html#condition=all"><i class="di ibn iconfont icon-camera"></i><span class="di">演出展览</span><i class="di iarr iconfont icon-youjiantou"></i></a></li>
		<li class=""><a href="home.html#condition=all"><i class="di ibn iconfont icon-fangzi"></i><span class="di">家庭旅行</span><i class="di iarr iconfont icon-youjiantou"></i></a></li>
		<li class=""><a href="home.html#condition=all"><i class="di ibn iconfont icon-wodezuiai"></i><span class="di">我的收藏</span><i class="di iarr iconfont icon-youjiantou"></i></a></li>
	</ul>	
</div>