<div class="navigation" id="mainNav">
	<form id="searchForm">
		<input type="text" value="" name="keyword" placeholder="搜索活动"><input type="submit" value="搜索">
	</form>
	<ul>
		<li class="current"><i class="di nearby"></i><span class="di">离我最近</span><i class="di arr"></i></li>
		<li class=""><i class="di free"></i><span class="di">免费活动</span><i class="di arr"></i></li>
		<li class=""><i class="di outside"></i><span class="di">户外活动</span><i class="di arr"></i></li>
		<li class=""><i class="di inside"></i><span class="di">室内活动</span><i class="di arr"></i></li>
		<li class=""><i class="di show"></i><span class="di">演出展览</span><i class="di arr"></i></li>
		<li class=""><i class="di journey"></i><span class="di">家庭旅行</span><i class="di arr"></i></li>
		<li class=""><i class="di favorate"></i><span class="di">我的收藏</span><i class="di arr"></i></li>
	</ul>	
</div>