<div class="left si-tree-wrp">
    <ul class="si-tree">
        <li><a class="" href="/html/safe_bind_phone.html">绑定手机</a></li>
        <li><a href="/html/safe_bind_email.html">绑定邮箱</a></li>
        <li><a class="" href="/html/safe_modify_phone.html">更换手机绑定</a></li>
        <li><a href="/html/safe_valid_phone.html">输入新手机</a></li>
        <li><a href="/html/safe_modify_email.html">更换邮箱绑定</a></li>
        <li><a href="/html/safe_valid_email.html">输入新邮箱</a></li>
        <li><a href="/html/safe_end.html">操作成功</a></li>
        <li><a class="selected" href="/html/safe_modify_pass.html">密码修改</a></li>
    </ul>
</div>