	<%- include common/head %>
	<div class="content detail-page" id="mainContent">
		<script id="contentTemp" type="text/html">
			
			<div class="scroll-wrap">
			<div class="detail-info">
				<div class="img-wp">
					<img src="{{img_root + image}}" alt="">
					<div class="mask cf">
						<span class="fl tag">报名中</span>
						<span class="fr price">{{priceString}}</span>
					</div>
				</div>

				<h2>熊孩的读书下午茶</h2>
				<div class="part"><i class="di icon iconfont icon-naozhong"></i><span class="di">{{activityTimeString}}</span></div>
				<div class="part" id="addressJumpBtn"><i class="di icon iconfont icon-location2"></i><span class="di">{{placeAddres}}</span></div>
				<div class="part"><i class="di icon iconfont icon-muying"></i><span class="di">{{ageString}}</span></div>
			</div>

			<div class="description">
				<h3>活动详情</h3>
				<div class="entry">
					{{=contentHtml}}
				</div>
			</div>

			

			<div class="more-share">
				<h3>更多推荐</h3>
				<ul class="cf">
				{{each recommendations}}
					<li><a href="detail.html?id={{$value.id}}#mp.weixin.qq.com">
						<figure><img src="{{img_root + $value.image}}" alt=""><figcaption>{{$value.title}}</figcaption></figure></a>
					</li>
				{{/each}}
				</ul>
			</div>
		</div>
		<div class="pdd-btn">
			<a href="javascript:;" id="showFav" class="fav">加入收藏</a>
			<a href="tel:{{phone}}" class="bm">马上报名</a>
		</div>
		<div class="share_note" id="shareNoteMask"></div>
		</script>
		
	</div>
	<%- include common/script %>
	<script src="<%-Root_Path%>script/islider.js"></script>
	<script src="<%-Root_Path%>script/modules/detail.js"></script>
	</body>
</html>
