	<%- include common/head %>
	<div class="content">
		<form action="/" class="form_box" method="post" id="forgotForm">
			<div class="feld">
				<label for="password" class="iconfont icon-key"></label>
				<input type="password" value="" placeholder="输入新密码" id="password">
			</div>
			<div class="feld">
				<label for="repassword" class="iconfont icon-key"></label>
				<input type="password" value="" placeholder="再次输入新密码" id="repassword">
			</div>
			<div class="regsubfeld">
				<input type="submit" value="提交">
			</div>
		</form>
	</div>
	<%- include common/footer %>
	<%- include common/script %>
	<script src="../script/islider.js"></script>
	<script src="../script/modules/index.js"></script>
	</body>
</html>
