	<%- include common/head %>
	<div class="content">
		<!-- slider -->
		<div class="slider_wrap">
			<div class="slider" id="slider">
			</div>
		</div>
		
		<!-- index module -->
		<div class="m_index cf">
			<div class="l_box fl">
				<div class="ml">
					<a href="" class="shop">
						<span class="t">便利店</span>
						<p><i class="icon iconfont icon-store"></i></p>
					</a>
				</div>
				<div class="ml cf">
					<a href="/" class="wm fl">
						<span class="t">社区外卖</span>
						<p><i class="icon iconfont icon-motor"></i></p>
					</a>
					<a href="/" class="svc fr">
						<span class="t">周边服务</span>
						<p><i class="icon iconfont icon-housekeeping"></i></p>
					</a>
				</div>
			</div>
			<div class="r_box fr">
				<a href="" class="frs">
					<span class="t">水果超市</span>
					<p><i class="icon iconfont icon-apple"></i></p>
				</a>
			</div>
		</div>

		<!-- 推荐 -->
		<div class="m_rmd">
			<div>这里是推荐模块</div>
		</div>
	</div>
	<%- include common/footer %>
	<%- include common/script %>
	<script src="../script/islider.js"></script>
	<script src="../script/modules/index.js"></script>
	</body>
</html>
