	<%- include common/head %>
	<div class="content">
		<form action="/" class="form_box" method="post" id="loginForm">
			<div class="feld">
				<label for="loginName" class="iconfont icon-people"></label>
				<input type="text" value="" placeholder="手机号/邮箱" id="loginName">
			</div>
			<div class="feld">
				<label for="loginPwd" class="iconfont icon-lock"></label>
				<input type="password" value="" placeholder="密码" id="loginPwd">
			</div>
			<div class="subfeld">
				<a href="/html/regist.html" class="btn">注册</a>
				<input type="submit" value="登陆">
			</div>
			<div class="ofeld">
				<a href="/">忘记密码？</a>
			</div>
		</form>
	</div>
	<%- include common/footer %>
	<%- include common/script %>
	<script src="../script/islider.js"></script>
	<script src="../script/modules/index.js"></script>
	</body>
</html>
