	<%- include common/head %>
	<div class="content mk_content">
		<!-- slider -->
		<div class="slider_wrap">
			<div class="slider" id="slider">
			</div>
		</div>


		<!-- 搜索 -->
		<form class="mk_search">
			<input type="text" class="text" value="">
			<label for="searchSubmit"><i class="di iconfont icon-find"></i><input class="di" type="submit" id="searchSubmit" value="搜索"></label>
		</form>
	
		<!-- 主体 -->
		<div class="mk_main cf">
			<menu class="bar fl">
				<a href="javascript:;">全部</a>
				<a href="javascript:;"  class="current">餐饮</a>
				<a href="javascript:;">餐饮</a>
				<a href="javascript:;">餐饮</a>
				<a href="javascript:;">餐饮</a>
				<a href="javascript:;">餐饮</a>
				<a href="javascript:;">餐饮</a>
				<a href="javascript:;">餐饮</a>
			</menu>
			<div class="pro_list_wp fr">
				<ul>
					<li>
						<div class="img_b"><img src="http://192.168.10.151:9529/images/banner01.png" alt=""></div>
						<div class="k_wp">
							<h3>水溶C100饮料</h3>
							<p><span class="p">￥14.56</span> 450ML/瓶</p>
						</div>
						<div class="c_wp">
							<a href="javascript:;" class="sub">-</a>
							<input type="text" readonly="true" class="nm" value="0">
							<a href="javascript:;" class="add">+</a>
						</div>
						<li>
						<div class="img_b"><img src="http://192.168.10.151:9529/images/banner01.png" alt=""></div>
						<div class="k_wp">
							<h3>水溶C100饮料</h3>
							<p><span class="p">￥14.56</span> 450ML/瓶</p>
						</div>
						<div class="c_wp">
							<a href="javascript:;" class="sub">-</a>
							<input type="text" readonly="true" class="nm" value="0">
							<a href="javascript:;" class="add">+</a>
						</div>
					</li>
					<li>
						<div class="img_b"><img src="http://192.168.10.151:9529/images/banner01.png" alt=""></div>
						<div class="k_wp">
							<h3>水溶C100饮料</h3>
							<p><span class="p">￥14.56</span> 450ML/瓶</p>
						</div>
						<div class="c_wp">
							<a href="javascript:;" class="sub">-</a>
							<input type="text" readonly="true" class="nm" value="0">
							<a href="javascript:;" class="add">+</a>
						</div>
					</li>
					<li>
						<div class="img_b"><img src="http://192.168.10.151:9529/images/banner01.png" alt=""></div>
						<div class="k_wp">
							<h3>水溶C100饮料</h3>
							<p><span class="p">￥14.56</span> 450ML/瓶</p>
						</div>
						<div class="c_wp">
							<a href="javascript:;" class="sub">-</a>
							<input type="text" readonly="true" class="nm" value="0">
							<a href="javascript:;" class="add">+</a>
						</div>
					</li>
					<li>
						<div class="img_b"><img src="http://192.168.10.151:9529/images/banner01.png" alt=""></div>
						<div class="k_wp">
							<h3>水溶C100饮料</h3>
							<p><span class="p">￥14.56</span> 450ML/瓶</p>
						</div>
						<div class="c_wp">
							<a href="javascript:;" class="sub">-</a>
							<input type="text" readonly="true" class="nm" value="0">
							<a href="javascript:;" class="add">+</a>
						</div>
					</li>
					<li>
						<div class="img_b"><img src="http://192.168.10.151:9529/images/banner01.png" alt=""></div>
						<div class="k_wp">
							<h3>水溶C100饮料</h3>
							<p><span class="p">￥14.56</span> 450ML/瓶</p>
						</div>
						<div class="c_wp">
							<a href="javascript:;" class="sub">-</a>
							<input type="text" readonly="true" class="nm" value="0">
							<a href="javascript:;" class="add">+</a>
						</div>
					</li>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="cart_plug cf">
		<span class="icon fl">
			<i class="iconfont icon-shopping"></i><i class="number">4</i>
		</span>
		<span class="t_price fl">共 ￥128</span>
		<a href="" class="to_sub_or fr">去结算</a>

		<div class="cart_list">
			<ul>
				<li class="cf">
					<span class="name fl">水溶C100柠檬饮料</span>
					<span class="prc fl">￥13.56</span>
					<div class="caculat fr"><a href="javascript:;" class="sub">-</a><input type="text" value="0" class="num"><a href="javascript:;" class="add">+</a></div>
				</li>
				<li class="cf">
					<span class="name fl">水溶C100柠檬饮料</span>
					<span class="prc fl">￥13.56</span>
					<div class="caculat fr"><a href="javascript:;" class="sub">-</a><input type="text" value="0" class="num"><a href="javascript:;" class="add">+</a></div>
				</li>
				<li class="cf">
					<span class="name fl">水溶C100柠檬饮料</span>
					<span class="prc fl">￥13.56</span>
					<div class="caculat fr"><a href="javascript:;" class="sub">-</a><input type="text" value="0" class="num"><a href="javascript:;" class="add">+</a></div>
				</li>
				<li class="cf">
					<span class="name fl">水溶C100柠檬饮料</span>
					<span class="prc fl">￥13.56</span>
					<div class="caculat fr"><a href="javascript:;" class="sub">-</a><input type="text" value="0" class="num"><a href="javascript:;" class="add">+</a></div>
				</li>
				<li class="cf">
					<span class="name fl">水溶C100柠檬饮料</span>
					<span class="prc fl">￥13.56</span>
					<div class="caculat fr"><a href="javascript:;" class="sub">-</a><input type="text" value="0" class="num"><a href="javascript:;" class="add">+</a></div>
				</li>
				<li class="cf">
					<span class="name fl">水溶C100柠檬饮料</span>
					<span class="prc fl">￥13.56</span>
					<div class="caculat fr"><a href="javascript:;" class="sub">-</a><input type="text" value="0" class="num"><a href="javascript:;" class="add">+</a></div>
				</li>
				<li class="cf">
					<span class="name fl">水溶C100柠檬饮料</span>
					<span class="prc fl">￥13.56</span>
					<div class="caculat fr"><a href="javascript:;" class="sub">-</a><input type="text" value="0" class="num"><a href="javascript:;" class="add">+</a></div>
				</li>
				<li class="cf">
					<span class="name fl">水溶C100柠檬饮料</span>
					<span class="prc fl">￥13.56</span>
					<div class="caculat fr"><a href="javascript:;" class="sub">-</a><input type="text" value="0" class="num"><a href="javascript:;" class="add">+</a></div>
				</li>
				<li class="cf">
					<span class="name fl">水溶C100柠檬饮料</span>
					<span class="prc fl">￥13.56</span>
					<div class="caculat fr"><a href="javascript:;" class="sub">-</a><input type="text" value="0" class="num"><a href="javascript:;" class="add">+</a></div>
				</li>
				<li class="cf">
					<span class="name fl">水溶C100柠檬饮料</span>
					<span class="prc fl">￥13.56</span>
					<div class="caculat fr"><a href="javascript:;" class="sub">-</a><input type="text" value="0" class="num"><a href="javascript:;" class="add">+</a></div>
				</li>
				<li class="cf">
					<span class="name fl">水溶C100柠檬饮料</span>
					<span class="prc fl">￥13.56</span>
					<div class="caculat fr"><a href="javascript:;" class="sub">-</a><input type="text" value="0" class="num"><a href="javascript:;" class="add">+</a></div>
				</li>
				<li class="cf">
					<span class="name fl">水溶C100柠檬饮料</span>
					<span class="prc fl">￥13.56</span>
					<div class="caculat fr"><a href="javascript:;" class="sub">-</a><input type="text" value="0" class="num"><a href="javascript:;" class="add">+</a></div>
				</li>
			</ul>
		</div>
	</div>
	<%- include common/footer %>
	<%- include common/script %>
	</body>
</html>
