<%- include common/head %>
<div class="content">
    <div class="my_address">
        <div class="current_addr cf">
            <i class="my fl iconfont icon-address_people"></i>
            <span class="fl">我的地址：成都市武侯区天府二街139号</span>
            <em class="right_array fr iconfont icon-right1"></em>
        </div>
        <div class="history_addr">
            <ul>
                <li class="item cf">
                    <i class="his fl iconfont icon-clock"></i>
                    <span class="fl">四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array fr iconfont icon-right1"></em>
                </li>
                <li class="line"></li>
                <li class="item cf">
                    <i class="his fl iconfont icon-clock"></i>
                    <span class="fl">四川省成都市武侯区人民南路四段55号四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array fr iconfont icon-right1"></em>
                </li>
                <li class="line"></li>
                <li class="item cf">
                    <i class="his fl iconfont icon-clock"></i>
                    <span class="fl">四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array fr iconfont icon-right1"></em>
                </li>
                <li class="line"></li>
                <li class="item cf">
                    <i class="his fl iconfont icon-clock"></i>
                    <span class="fl">四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array fr iconfont icon-right1"></em>
                </li>
                <li class="line"></li>
                <li class="item cf">
                    <i class="his fl iconfont icon-clock"></i>
                    <span class="fl">四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array fr iconfont icon-right1"></em>
                </li>
                <li class="line"></li>
                <li class="item cf">
                    <i class="his fl iconfont icon-clock"></i>
                    <span class="fl">四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array fr iconfont icon-right1"></em>
                </li>
                <li class="line"></li>
                <li class="item cf">
                    <i class="his fl iconfont icon-clock"></i>
                    <span class="fl">四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array fr iconfont icon-right1"></em>
                </li>
                <li class="line"></li>
                <li class="item cf">
                    <i class="his fl iconfont icon-clock"></i>
                    <span class="fl">四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array fr iconfont icon-right1"></em>
                </li>
                <li class="line"></li>
                <li class="item cf">
                    <i class="his fl iconfont icon-clock"></i>
                    <span class="fl">四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array fr iconfont icon-right1"></em>
                </li>
                <li class="line"></li>
                <li class="item cf">
                    <i class="his fl iconfont icon-clock"></i>
                    <span class="fl">四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array fr iconfont icon-right1"></em>
                </li>
                <li class="line"></li>
                <li class="item cf">
                    <i class="his fl iconfont icon-clock"></i>
                    <span class="fl">四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array fr iconfont icon-right1"></em>
                </li>
                <li class="line"></li>
                <li class="item cf">
                    <i class="his fl iconfont icon-clock"></i>
                    <span class="fl">四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array fr iconfont icon-right1"></em>
                </li>
                <li class="line"></li>
                <li class="item cf">
                    <i class="his fl iconfont icon-clock"></i>
                    <span class="fl">四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array fr iconfont icon-right1"></em>
                </li>
                <li class="line"></li>
                <li class="item cf">
                    <i class="his fl iconfont icon-clock"></i>
                    <span class="fl">四川省成都市武侯区人民南路四段55号四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array fr iconfont icon-right1"></em>
                </li>
                <li class="line"></li>
                <li class="item cf">
                    <i class="his fl iconfont icon-clock"></i>
                    <span class="fl">四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array fr iconfont icon-right1"></em>
                </li>
            </ul>
        </div>
    </div>
</div>
<%- include common/footer %>

<script type="text/html" id="shopItemTemp">
    {{each}}
    <li>list</li>
    {{/each}}
</script>
<%- include common/script %>
</body>
</html>
