<%- include common/head %>
<div class="content">
    <div class="my_address_list">
        <ul>
            <li class="default_address">
                <div class="bg_wrap cf">
                    <div class="fl info">
                        <h2 class="cf"><span class="fl">收货人：刘远</span><span class="fr">13698258898</span></h2>
                        <p>收货地址：四川省成都市高新区天府大道</p>
                        <p>是否定位：已定位</p>
                    </div>
                    <div class="fr btn_box">
                        <p><a href="javascript:;" class="btn_edit">编辑</a></p>
                        <p><a href="javascript:;" class="btn_delete">删除</a></p>
                    </div>
                </div>
                <div class="no_lat">
                    <a href="">
                        <i class="di mk"></i>
                        <div class="di">
                            <span class="di icon">
                                <i class="iconfont icon-map"></i>
                            </span>
                            <p>该地址还未定位</p>
                            <p>请点击前去编辑定位</p>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="bg_wrap cf">
                    <div class="fl info">
                        <h2 class="cf"><span class="fl">收货人：刘远</span><span class="fr">13698258898</span></h2>
                        <p>收货地址：四川省成都市高新区天府大道</p>
                        <p>是否定位：已定位</p>
                    </div>
                    <div class="fr btn_box">
                        <p><a href="javascript:;" class="btn_edit">编辑</a></p>
                        <p><a href="javascript:;" class="btn_delete">删除</a></p>
                    </div>
                </div>
                <div class="no_lat">
                    <a href="">
                        <i class="di mk"></i>
                        <div class="di">
                            <span class="di icon">
                                <i class="iconfont icon-map"></i>
                            </span>
                            <p>该地址还未定位</p>
                            <p>请点击前去编辑定位</p>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="bg_wrap cf">
                    <div class="fl info">
                        <h2 class="cf"><span class="fl">收货人：刘远</span><span class="fr">13698258898</span></h2>
                        <p>收货地址：四川省成都市高新区天府大道</p>
                        <p>是否定位：已定位</p>
                    </div>
                    <div class="fr btn_box">
                        <p><a href="javascript:;" class="btn_edit">编辑</a></p>
                        <p><a href="javascript:;" class="btn_delete">删除</a></p>
                    </div>
                </div>
                <div class="no_lat">
                    <a href="">
                        <i class="di mk"></i>
                        <div class="di">
                            <span class="di icon">
                                <i class="iconfont icon-map"></i>
                            </span>
                            <p>该地址还未定位</p>
                            <p>请点击前去编辑定位</p>
                        </div>
                    </a>
                </div>
            </li>
            <li class="no_gps_address">
                <div class="bg_wrap cf">
                    <div class="fl info">
                        <h2 class="cf"><span class="fl">收货人：刘远</span><span class="fr">13698258898</span></h2>
                        <p>收货地址：四川省成都市高新区天府大道</p>
                        <p>是否定位：未定位</p>
                    </div>
                    <div class="fr btn_box">
                        <p><a href="javascript:;" class="btn_edit">编辑</a></p>
                        <p><a href="javascript:;" class="btn_delete">删除</a></p>
                    </div>
                </div>
                <div class="no_lat">
                    <a href="">
                        <i class="di mk"></i>
                        <div class="di">
                            <span class="di icon">
                                <i class="iconfont icon-map"></i>
                            </span>
                            <p>该地址还未定位</p>
                            <p>请点击前去编辑定位</p>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="bg_wrap cf">
                    <div class="fl info">
                        <h2 class="cf"><span class="fl">收货人：刘远</span><span class="fr">13698258898</span></h2>
                        <p>收货地址：四川省成都市高新区天府大道</p>
                        <p>是否定位：已定位</p>
                    </div>
                    <div class="fr btn_box">
                        <p><a href="javascript:;" class="btn_edit">编辑</a></p>
                        <p><a href="javascript:;" class="btn_delete">删除</a></p>
                    </div>
                </div>
                <div class="no_lat">
                    <a href="">
                        <i class="di mk"></i>
                        <div class="di">
                            <span class="di icon">
                                <i class="iconfont icon-map"></i>
                            </span>
                            <p>该地址还未定位</p>
                            <p>请点击前去编辑定位</p>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="bg_wrap cf">
                    <div class="fl info">
                        <h2 class="cf"><span class="fl">收货人：刘远</span><span class="fr">13698258898</span></h2>
                        <p>收货地址：四川省成都市高新区天府大道</p>
                        <p>是否定位：已定位</p>
                    </div>
                    <div class="fr btn_box">
                        <p><a href="javascript:;" class="btn_edit">编辑</a></p>
                        <p><a href="javascript:;" class="btn_delete">删除</a></p>
                    </div>
                </div>
                <div class="no_lat">
                    <a href="">
                        <i class="di mk"></i>
                        <div class="di">
                            <span class="di icon">
                                <i class="iconfont icon-map"></i>
                            </span>
                            <p>该地址还未定位</p>
                            <p>请点击前去编辑定位</p>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<%- include common/footer %>
<%- include common/script %>
</body>
</html>
