	<%- include common/head %>
	<div class="content">
		<form action="/" class="recive_form" method="post" id="reciveForm">
			<div class="feld">
				<label for="recivePerson">收货人：</label>
				<input type="text" value="" placeholder="" id="recivePerson">
			</div>
			<div class="feld">
				<label for="recivePhone">手机号码：</label>
				<input type="text" value="" placeholder="" id="recivePhone">
			</div>
			<div class="feld">
				<label for="reciveArea">所在地区：</label>
				<input type="text" value="" placeholder="" id="reciveArea">
			</div>
			<div class="feld">
				<label for="reciveAddress">详细地址：</label>
				<input type="text" value="" placeholder="" id="reciveAddress">
			</div>
			<div class="feld">
				<label for="reciveGps">定位：</label>
				<input type="text" class="gps" value="" placeholder="" id="reciveGps">
			</div>
			<div class="feld check">
				<input type="checkbox" class="di" value="setDefaule" value="1" id="setDefaule"><label for="setDefaule" class="di">设置为默认地址</label>
			</div>
			<div class="regsubfeld">
				<input type="submit" value="确认"><a href="/my/address">返回</a>
			</div>
		</form>
	</div>
	<%- include common/footer %>
	<div class="address-choose-plug" id="addressPlug">
		<div class="address-toolbar">
			<a href="#forProvence" class="t-current">省</a>
			<a href="#forCity">市</a>
			<a href="#forArea">区</a>
		</div>
		<div class="address-tab" id="forProvence" style="display:block">
			<ul>
				<li data-id="" class="d-current">四川省</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
				<li data-id="">北京市</li>
			</ul>
		</div>
		<div class="address-tab" id="forCity">
			<li data-id="" class="d-current">成都市</li>
			<li data-id="">自贡市</li>
		</div>
		<div class="address-tab" id="forArea">
			<li data-id="" class="d-current">高新区</li>
			<li data-id="">武侯区</li>
		</div>
	</div>
	<%- include common/script %>
	<script src="../script/template.js"></script>
	<script src="../script/address.plug.js"></script>
	<script type="text/html" id="addressBoxTemp">
	<div class="address-choose-plug" id="addressPlug">
		<div class="address-toolbar">
			<a href="#forProvence" class="t-current">省</a>
			<a href="#forCity">市</a>
			<a href="#forArea">区</a>
		</div>
		<div class="address-tab" id="forProvence" style="display:block">
			<ul>
				
			</ul>
		</div>
		<div class="address-tab" id="forCity">
			<li data-id="" class="d-current">成都市</li>
			<li data-id="">自贡市</li>
		</div>
		<div class="address-tab" id="forArea">
			<li data-id="" class="d-current">高新区</li>
			<li data-id="">武侯区</li>
		</div>
	</div>
	</script>
	<script src="../script/modules/my_address.js"></script>
	</body>
</html>
