<%- include common/head %>
<div class="content">
    <div class="my_address">
        <div class="current_addr">
            <i class="my"></i>
            <span>我的地址：成都市武侯区天府二街139号</span>
            <em class="right_array"></em>
        </div>
        <div class="history_addr">
            <ul>
                <li class="item">
                    <i class="his"></i>
                    <span>四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array"></em>
                </li>
                <li class="line"></li>
                <li class="item">
                    <i class="his"></i>
                    <span>四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array"></em>
                </li>
                <li class="line"></li>
                <li class="item">
                    <i class="his"></i>
                    <span>四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array"></em>
                </li>
                <li class="line"></li>
                <li class="item">
                    <i class="his"></i>
                    <span>四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array"></em>
                </li>
                <li class="line"></li>
                <li class="item">
                    <i class="his"></i>
                    <span>四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array"></em>
                </li>
                <li class="line"></li>
                <li class="item">
                    <i class="his"></i>
                    <span>四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array"></em>
                </li>
                <li class="line"></li>
                <li class="item">
                    <i class="his"></i>
                    <span>四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array"></em>
                </li>
                <li class="line"></li>
                <li class="item">
                    <i class="his"></i>
                    <span>四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array"></em>
                </li>
                <li class="line"></li>
                <li class="item">
                    <i class="his"></i>
                    <span>四川省成都市武侯区人民南路四段55号</span>
                    <em class="right_array"></em>
                </li>
            </ul>
        </div>
    </div>
</div>
<%- include common/footer %>

<script type="text/html" id="shopItemTemp">
    {{each}}
    <li>list</li>
    {{/each}}
</script>
<%- include common/script %>
</body>
</html>
