	<%- include common/head %>
	<div class="content">
		<div class="order_list">

			<div class="order_item">
				<div class="o_t cf">
					<span class="tag fl">完成</span>
					<div class="fr o_m">
						<span class="o_i di">订单号：776345</span><a href="javascript:;" class="delete iconfont icon-ue62ddel di"></a>
					</div>
				</div>
				<div class="o_p">
					<h3>7-Eleven便利店</h3>
					<div class="img_wp cf">
						<ul>
							<li><img src="http://7u2s77.com1.z0.glb.clouddn.com/FiqJCchPW-xgXMSPya0xICXs4NRv" alt=""></li>
							<li><img src="http://7u2s77.com1.z0.glb.clouddn.com/FiqJCchPW-xgXMSPya0xICXs4NRv" alt=""></li>
							<li><img src="http://7u2s77.com1.z0.glb.clouddn.com/FiqJCchPW-xgXMSPya0xICXs4NRv" alt=""></li>
							<li><img src="http://7u2s77.com1.z0.glb.clouddn.com/FiqJCchPW-xgXMSPya0xICXs4NRv" alt=""></li>
							<li><img src="http://7u2s77.com1.z0.glb.clouddn.com/FiqJCchPW-xgXMSPya0xICXs4NRv" alt=""></li>
							<li><img src="http://7u2s77.com1.z0.glb.clouddn.com/FiqJCchPW-xgXMSPya0xICXs4NRv" alt=""></li>
							<li><img src="http://7u2s77.com1.z0.glb.clouddn.com/FiqJCchPW-xgXMSPya0xICXs4NRv" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="o_c cf">
					<span class="fl">实付款：</span>
					<span class="fl rmb">￥236</span>
					<a href="" class="fr o_btn">再次购买</a>
				</div>
			</div>

			<div class="order_item">
				<div class="o_t cf">
					<span class="tag fl">完成</span>
					<div class="fr o_m">
						<span class="o_i di">订单号：776345</span><a href="javascript:;" class="delete iconfont icon-ue62ddel di"></a>
					</div>
				</div>
				<div class="o_p">
					<h3>7-Eleven便利店</h3>
					<div class="img_wp cf">
						<ul>
							<li><img src="http://7u2s77.com1.z0.glb.clouddn.com/FiqJCchPW-xgXMSPya0xICXs4NRv" alt=""></li>
							<li><img src="http://7u2s77.com1.z0.glb.clouddn.com/FiqJCchPW-xgXMSPya0xICXs4NRv" alt=""></li>
							<li><img src="http://7u2s77.com1.z0.glb.clouddn.com/FiqJCchPW-xgXMSPya0xICXs4NRv" alt=""></li>
							<li><img src="http://7u2s77.com1.z0.glb.clouddn.com/FiqJCchPW-xgXMSPya0xICXs4NRv" alt=""></li>
							<li><img src="http://7u2s77.com1.z0.glb.clouddn.com/FiqJCchPW-xgXMSPya0xICXs4NRv" alt=""></li>
							<li><img src="http://7u2s77.com1.z0.glb.clouddn.com/FiqJCchPW-xgXMSPya0xICXs4NRv" alt=""></li>
							<li><img src="http://7u2s77.com1.z0.glb.clouddn.com/FiqJCchPW-xgXMSPya0xICXs4NRv" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="o_c cf">
					<span class="fl">实付款：</span>
					<span class="fl rmb">￥236</span>
					<a href="" class="fr o_btn">再次购买</a>
				</div>
			</div>

		</div>
	</div>
	<%- include common/footer %>
	<%- include common/script %>
	</body>
</html>
