	<%- include common/head %>
	<div class="content order_box">
		<!-- 收货人信息 -->
		<div class="order_man cf">
			<div class="info fl">
				<p class="man"><i class="di iconfont icon-124smileface"></i><em class="di">收货人：<span>刘元</span>13677457723</em></p>
				<p class="addr cf"><i class="fl iconfont icon-map"></i><em class="fl">收货地址：四川省成都市高新区天赋达到二姐138号蜀都中心</em></p>
			</div>
			<div class="change fr" id="changeAddr">
				<a href="javascript:;" class="iconfont icon-right1"></a>
			</div>
		</div>
		
		<!-- 商品信息 -->
		<section class="shop_item">
			<header class="shop_t">
				<h2>7-Eleven便利店购物车</h2>
				<p class="if">商品总数:<span class="n">24</span> 商品总价：<span class="p">268.2</span>元 运费：<span class="p">5</span>元</p>
			</header>
			<div class="prd_box">
				<div class="prd_item">
					<a href="javascript:;" class="cf">
						<img class="img fl" src="../../images/photo01.png" alt="">
						<span class="name fl">新鲜番茄新鲜番茄,新鲜番茄新鲜番茄新鲜番茄新鲜番茄新</span>
						<div class="num fr">
							<p class="s">￥3.5/500g</p>
							<p class="n">x1</p>
						</div>
					</a>
				</div>

				<div class="prd_item">
					<a href="javascript:;" class="cf">
						<img class="img fl" src="../../images/photo01.png" alt="">
						<span class="name fl">新鲜番茄新鲜番茄,新鲜番茄新</span>
						<div class="num fr">
							<p class="s">￥3.5/500g</p>
							<p class="n">x1</p>
						</div>
					</a>
				</div>

				<div class="prd_item">
					<a href="javascript:;" class="cf">
						<img class="img fl" src="../../images/photo01.png" alt="">
						<span class="name fl">新鲜番茄</span>
						<div class="num fr">
							<p class="s">￥3.5/500g</p>
							<p class="n">x1</p>
						</div>
					</a>
				</div>

				<div class="prd_item">
					<a href="javascript:;" class="cf">
						<img class="img fl" src="../../images/photo01.png" alt="">
						<span class="name fl">新鲜番茄新鲜番茄,新鲜番茄新鲜番茄新鲜番茄新鲜番茄新</span>
						<div class="num fr">
							<p class="s">￥3.5/500g</p>
							<p class="n">x1</p>
						</div>
					</a>
				</div>
			</div>
		</section>

		<!-- 商品信息 -->
		<section class="shop_item">
			<header class="shop_t">
				<h2>7-Eleven便利店购物车</h2>
				<p class="if">商品总数:<span class="n">24</span> 商品总价：<span class="p">268.2</span>元 运费：<span class="p">5</span>元</p>
			</header>
			<div class="prd_box">
				<div class="prd_item">
					<a href="javascript:;" class="cf">
						<img class="img fl" src="../../images/photo01.png" alt="">
						<span class="name fl">新鲜番茄新鲜番茄,新鲜番茄新鲜番茄新鲜番茄新鲜番茄新</span>
						<div class="num fr">
							<p class="s">￥3.5/500g</p>
							<p class="n">x1</p>
						</div>
					</a>
				</div>

				<div class="prd_item">
					<a href="javascript:;" class="cf">
						<img class="img fl" src="../../images/photo01.png" alt="">
						<span class="name fl">新鲜番茄新鲜番茄,新鲜番茄新</span>
						<div class="num fr">
							<p class="s">￥3.5/500g</p>
							<p class="n">x1</p>
						</div>
					</a>
				</div>

				<div class="prd_item">
					<a href="javascript:;" class="cf">
						<img class="img fl" src="../../images/photo01.png" alt="">
						<span class="name fl">新鲜番茄</span>
						<div class="num fr">
							<p class="s">￥3.5/500g</p>
							<p class="n">x1</p>
						</div>
					</a>
				</div>

				<div class="prd_item">
					<a href="javascript:;" class="cf">
						<img class="img fl" src="../../images/photo01.png" alt="">
						<span class="name fl">新鲜番茄新鲜番茄,新鲜番茄新鲜番茄新鲜番茄新鲜番茄新</span>
						<div class="num fr">
							<p class="s">￥3.5/500g</p>
							<p class="n">x1</p>
						</div>
					</a>
				</div>
			</div>
		</section>

		<!-- 小结信息 -->
		<div class="order_count cf" id="orderCount">
			<div class="mt fl">
				<p>总计商品:<span class="n">43</span>件</p>
				<p>（运费:<span class="m">5</span>元）总金额:<span class="c">329.9</span>元</p>
			</div>
			<div class="mb fr">
				<a href="/html/order_confirm.html" class="buy_btn btn">结算</a>
			</div>
		</div>
	</div>
	<%- include common/footer %>
	<%- include common/script %>
	<script>
		$('.boxWrapper').css('padding-bottom', 3 *ROOTFONTSIZE);
	</script>
	</body>
</html>
