	<%- include common/head %>
	<div class="content shoppping_cart">
		<div class="cart" id="shoppingCartList">
			<div class="prd_item cf" >
				<span class="check_check fl">
					<i class="s_check"></i>
					<input class="checkItem" type="hidden" value="121212">
				</span>
				<div class="item fr">
					<img class="fl" src="../../images/photo01.png" alt="">
					<div class="s_info fl">
						<h2>新鲜番茄</h2>
						<p class="p">￥3.5/500g</p>
						<p class="d"><del>￥3.6/500g</del></p>
					</div>
					<div class="cpt fr cpt-plug">
						<a href="javascript:;" class="cpt-add">+</a>
						<input type="text" readonly class="cpt-num" value="16">
						<a href="javascript:;" class="cpt-sub">-</a>
					</div>
				</div>
			</div>

			<div class="prd_item cf" >
				<span class="check_check fl">
					<i class="s_check"></i>
					<input class="checkItem" type="hidden" value="121212">
				</span>
				<div class="item fr">
					<img class="fl" src="../../images/photo01.png" alt="">
					<div class="s_info fl">
						<h2>新鲜番茄</h2>
						<p class="p">￥3.5/500g</p>
						<p class="d"><del>￥3.6/500g</del></p>
					</div>
					<div class="cpt fr cpt-plug">
						<a href="javascript:;" class="cpt-add">+</a>
						<input type="text" readonly class="cpt-num" value="1">
						<a href="javascript:;" class="cpt-sub">-</a>
					</div>
				</div>
			</div>

			<div class="prd_item cf" >
				<span class="check_check fl">
					<i class="s_check"></i>
					<input class="checkItem" type="hidden" value="121212">
				</span>
				<div class="item fr">
					<img class="fl" src="../../images/photo01.png" alt="">
					<div class="s_info fl">
						<h2>新鲜番茄</h2>
						<p class="p">￥3.5/500g</p>
						<p class="d"><del>￥3.6/500g</del></p>
					</div>
					<div class="cpt fr cpt-plug">
						<a href="javascript:;" class="cpt-add">+</a>
						<input type="text" readonly class="cpt-num" value="12">
						<a href="javascript:;" class="cpt-sub">-</a>
					</div>
				</div>
			</div>
		</div>
		<div class="cart_count cf" id="cartCount">
			<div class="mt fl">
				<p>总计商品:<span class="n">43</span>件</p>
				<p>（运费:<span class="m">5</span>元）总金额:<span class="c">329.9</span>元</p>
			</div>
			<div class="mb fr">
				<a href="javascript:;" class="del_btn btn">删除</a>
				<a href="/html/order_confirm.html" class="buy_btn btn">结算</a>
			</div>
		</div>
	</div>
	<%- include common/footer %>
	<%- include common/script %>
	<script src="../script/modules/cart.js"></script>
	</body>
</html>
